.parent {
    -fx-background-color: #2A2E37;
}

.sidebar {
    -fx-background-color: #373E48;
}

.buttons {
    -fx-background-color: transparent;
}

.buttons:hover {
    -fx-background-color: transparent;
    -fx-border-color: orange;
    -fx-border-style: solid;
    -fx-border-width: 0px 3px 0px 0px;

}

#powerOFFButton {
    -fx-background-color: transparent;
}

#powerOFFButton:hover {
    -fx-background-color: #9E111A;
    -fx-border-style: solid;
}

.glyphIcon {
    -fx-fill: grey;
}

.glyphIcon:hover {
    -fx-fill: grey;
    -fx-border-color: #1FD6D1;
    -fx-border-style: solid;
    -fx-border-width: 0px 0px 0px 3px;
}

.roundedLabel {
    -fx-background-color: transparent;
    -fx-border-color: grey;
}

.label {
    -fx-text-fill: orange;
    -fx-font-size: 48;
}

.perfLabel {
    -fx-text-fill: orange;
    -fx-font-size: 40;
}

#listBell {
    -fx-fill: green;
}

.region {
    -fx-background-color: #3F8993;
    -fx-background-color: rgba(0,0,0,0.6);
}

#title {
    -fx-text-fill: #2A2E37;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-font-family: "Verdana";
    -fx-text-alignment: center;
    -fx-font-size: 18;
}